.my-gallery {
  width: 480px;
  height: 640px;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.photo-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 20px;
  width: 100%;
}

.photo-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.photo-img:hover {
  transform: scale(1.1);
}

.photo-info {
  flex-grow: 1;
  text-align: left;
}
@media (max-width: 768px) {
  .photo-card {
    flex-direction: column;
  }

  .photo-img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.photo-gallery-container {
  display: flex;
  justify-content: center; /* 使容器水平居中 */
}

.photo-gallery {
  display: flex;
  justify-content: center; /* 居中对齐所有卡片 */
  flex-wrap: wrap-reverse;
  gap: 20px; /* 卡片间距 */
  max-width: 1200px; /* 设置最大宽度，防止卡片过多时占据过多空间 */
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
